{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

<!--          Table that contains all the information from the -->
<!--          cafe-data.csv file. &ndash;&gt;-->
          <table class="table" style="color:whitesmoke">
              {% for item in cafes %}
              <tr>
                  {% for cell in item%}
                    {%if cell[0:4] == 'http'%}
                        <td><a href="{{ cell }}">Maps Link</a></td>
                    {% else %}
                        <td>{{cell}}</td>
                    {% endif %}
                  {% endfor %}
              </tr>
              {% endfor %}
          </table>


      <p><a href="{{url_for('home')}}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
